body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
}
.grid{
    width: 303px;
    height: 303px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.square{
    height: 100px;
    width: 100px;
    border: solid black 1px;
}
.mole{
    background-color: blue;
}

.button{
    width: 303px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5rem;
}
@media screen and (max-width: 350px){
    .button{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    }
}